@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    /*
    font-family: Arial, sans-serif;*/
    font-family: "Noto Sans JP", sans-serif;
}

.body-iframe-padding {
    padding: 20px;
    height: max-content;
}

/*
.blue-bar {
    overflow: scroll;
}*/

#contentIframe {
    border: none;
    width: 100%;
    height: auto;
    background-color: #ffffff;

}

/***************************************************************
*
* DEBUG FEATURES. DELETE BEFORE RELEASE TO PRODUCTION MODE
*
***************************************************************
*/
.debug {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.textDebug {
    font-style: italic;
}

.debugerror {
    color: red;
}

.debugBtn {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 500px;
    position: relative;
}

/***************************************************************
*
*                      DEBUG FEATURES = END
*
***************************************************************
*/




/* START OF THE STYLE */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}




/***************************************************************
*
*                       TOP BAR = START
*
***************************************************************
*/
.top-bar {
    height: 40px;
    background-color: #FFFFFF;
    padding: 10px 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.050);
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.title {
    color: #008DDA;
    text-align: left;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 500;
    flex-grow: 1;
}

.logo {
    margin-left: 20px;
    height: 40px;
}

.user-info {
    padding-right: 15px;
}

.user-name,
.user-role {
    color: rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 2px;
}

.user-role {
    font-size: 13px;
    font-weight: 100;
    text-align: right;
    padding-bottom: 10px;
    margin-top: 0;
}

.user-icon {
    border-radius: 100%;
    margin-right: 20px;
    height: 50px;

    /* OPTIONAL RING */
    border: 2px solid rgb(19, 113, 221);
}

/***************************************************************
*
*                       TOP BAR = END
*
***************************************************************
*/




/***************************************************************
*
*                       SIDE BAR = START
*
***************************************************************
*/
.sidebar-content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: 220px;
    background-color: #008DDA;
    padding: 0px;
    height: calc(100vh - 50px);
    overflow-y: auto;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.dropdown {
    text-align: center;
    display: none;
    background: #214e67;
}

.dropdown-link {
    display: block;
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    border: none;
    padding: 20px;
    background: #2D9CD9;
    transition: background 0.3s ease;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-link:hover {
    background: #71C7F5;
}

.dropdown-link.active {
    background: #71C7F5;
}

.module-name,
.module-grp {
    background: #008DDA;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3 ease, transform 0.3 ease;
    position: relative;
}

.module-name:active .arrow {
    transform: translateY(-50%) rotate(180deg);
}


.module-name:hover {
    background: #0056a0;
}

.module-name.active {
    background: #0056a0;
}

.module-grp.active {
    background: #0056a0;
}

.module-grp:hover {
    background: #0056a0;
}

.arrow {
    margin-left: 20px;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.module-name:active .arrow {
    transform: translateY(-50%) rotate(180deg);
}


.module-name:hover {
    background: #0056a0;
}

.module-grp:hover {
    background: #0056a0;
}

.modules {
    margin-bottom: -10px;
}

.modules .debug {
    background-color: rgb(109, 0, 0);
}

/***************************************************************
*
*                       SIDE BAR = END
*
***************************************************************
*/




/* START OF MAIN */
.main-content {
    flex: 1;
    overflow-y: auto;
    height: 100%;
}

/***************************************************************
*
*                      MODULE DESIGN = START
*
***************************************************************
*/
.header {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.165);
}

.entries {
    padding: 20px 0px 20px 0px;
    font-weight: bold;
}

.entries span {
    font-size: 16px;
}

.entry-num {
    height: 20px;
    width: 30px;
    border-radius: 5px;
    border: 2px solid;
    font-size: 16px;
    text-align: center;
    margin: 0 5px 0 5px;
    margin-bottom: 0px;
}

.module-title {
    margin-top: 0px;
    padding: 0px;
}

.blue-bar {
    /*
    background-color: transparent;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.068);*/
    margin-top: 15px;
    border-radius: 10px;
}

.blue-bar h1 {
    background-color: #66B7E3;
    /*
    background-color: #004C76;*/
    color: white;
    font-size: 24px;
    padding: 15px;
    padding-left: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FOR VIEW RECORDS ONLY */
.grp-vr {
    display: flex;
    align-items: center;
    background-color: #66B7E3;
    border-radius: 10px;
}

.grp-vr .module-title {
    margin: 0;
    height: 40px;
    background-color: transparent;
}

.categoryFilter {
    color: white;
    padding: 5px;
    padding-right: 20px;
    margin-left: auto;
    border-radius: 5px;
}

.categoryFilter span {
    font-weight: bold;
}

.select-category {
    /* LABEL */
    font-size: 20px;
}

.input-selectCategory {
    padding-left: 5px;
    height: 25px;
    border: none;
    border-radius: 5px;
}

.input-desc-viewRecords {
    padding-left: 5px;
    width: 300px;
    height: 25px;
    border: none;
    border-radius: 5px;
}

.search-bar {
    /* LABEL */
    font-size: 20px;
}

.btn-sort-by-level {
    background-color: #4AC5EC;
    color: white;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-left: 10px;
    cursor: pointer;
}

.btn-sort-by-level:hover {
    background-color: #3da4c4;
}

.btn-qr {
    background-color: #4AC5EC;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.btn-save-changes {
    background-color: #41C9E2;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btn-discard-changes {
    background-color: #F26969;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btn-discard-changes:hover {
    background-color: #a54a4a;
}

.btn-save-changes:hover {
    background-color: #2c8899;
}

.button{
        background-color: #4AC5EC;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-left: 10px;
    cursor: pointer;
}

.btn-unlabeled-status {
    background-color: #4AC5EC;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-left: 10px;
    cursor: pointer;
}

.btn-unlabeled-status:hover {
    background-color: #3da4c4;
}

.btn-create {
    background-color: #4AC5EC;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.btn-cancel {
    background-color: #F26969;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-left: auto;

}

.btn-return {
    background-color: #F26969;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-left: auto;

}

.btn-return:hover {
    background-color: #c05252;
    cursor: pointer;
}

.btn-qr:hover {
    background-color: #3da4c4;
    cursor: pointer;
}

.btn-create:hover {
    background-color: #3da4c4;
    cursor: pointer;
}

.btn-cancel:hover {
    background-color: #c05252;
    cursor: pointer;
}

/**************************
*
*  PLEASE CHECK TABLE.CSS
*
***************************
*/

/* PAGE BAR */
.pageBar {
    background-color: transparent;
    padding: 0 20px 0 20px;
    color: #6B6B6B;
    font-weight: bold;
    height: auto;
    border-radius: 10px;
}

.pageContainer {
    display: flex;
    justify-content: center;
}

.pageText {
    display: none;
    margin-right: auto;
}

.pageBtn {
    display: flex;
    
    align-items: center;
    text-align: center;
}

.pageBtn p,
.pageBtn a {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    place-content: center;
    height: 12px;
    margin: 0 2px;
    text-decoration: none;
    cursor: pointer;
}

.pageBtn a:hover,
.pageBtn p:hover {
    background-color: #6b6b6b25;
}

.pageNum.active {
    background-color: #6b6b6b25;
}

/**
* --------------------
*    INPUTS
* --------------------
*/

.form-content {
    padding: 0 40px 40px 40px;
}

.input.reqID,
.input.dateReq,
.input.supp,
/* <- EXCESS */
.input.unit,
.input.qtyAvail {
    background-color: #b7b7b7;
}

.inputs-top-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.input-grp {
    display: flex;
    flex-direction: column;
}

.input-label {
    font-size: 18;
    font-weight: bold;
    margin-bottom: 5px;
}

.input {
    height: 30px;
    border: 1px solid;
    border-radius: 5px;

    text-align: center;
    font-weight: bold;
    font-size: 16px;
    height: 40px;
}

.input.reqID {
    width: 100px;
}

.input.dateReq {
    width: 200px;
}

.input.dateNeed {
    width: 200px;
}

.input.project {
    width: 500px;
}

/* CLIENT AND SUPPLIER BOOKMARK */
.input.clientID,
.input.supplierID {
    width: 100px;
} 

.input.client-name,
.input.supplier-name {
    width: 500px;
}

.input.telephone,
.input.phone {
    width: 200px;
}

.input.email {
    width: 300px;
}

.input.location {
    width: 600px;
}

.status option {
    background-color: rgba(0, 132, 255, 0.178);
}

.project option {
    background-color: rgba(0, 132, 255, 0.178);
}

.input-image-proof {
    margin-top: 20px;
}

.imgContainer {
    border: 2px solid gray;
    padding: 10px;

    /* SHOULD I ROUND THE CORNER?
    border-radius: 5px;*/
}

.imgContainer img {
    /* IMG PROPERTIES */
}

.btn-re-upload {

}

.btn-add-image {
    background-color: #4AC5EC;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btn-choose-file[type=file]::file-selector-button {
    background-color: #25d6ee83;
    border: none;
    border-top-right-radius: 50px;
    /* TLBR */
    border-bottom-right-radius: 50px;

    text-align: center;

    font-size: 16px;
    height: 40px;
}

.btn-add-image:hover {
    background-color: #3da4c4;
    cursor: pointer;
}

.input-remark {
    display: flex;
    flex: wrap;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 5px;
    
}

.input-remark .remarks {
    height: 150px;
    font-weight: bold;
    font-size: 14px;
    width: 800px;
    overflow: scroll;
    text-align: start;
}


.input-remark .excess-remark {
    /* EXCESS */
    text-align: left;
    padding-left: 20px;
    font-weight: 100;
}

.line-separator {
    height: 2px;
    background-color: grey;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* SECOND BLUE BAR */

.input.desc {
    width: 500px;
}

.input.supp {
    /* EXCESS */

}

.input.unit {
    width: 100px;
}

.input.qty {
    width: 100px;
}

.input.qtyAvail {
    width: 100px;
}

.button-area-bottom {
    margin-top: 10px;
    display: flex;
}

.btn-add {
    background-color: #4AC5EC;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btn-add:hover {
    background-color: #3da4c4;
    cursor: pointer;
}

.view-image-button {
    background-color: #7fd1eb;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
    box-shadow: 0 4px 6px rgba(0, 0.5, 0, 0.144);
}

/* MATERIAL ADDED TABLE */

.blue-bar .i3 {
    background-color: #FFF;
    color: black;
}

/* NEW CLASS SELECTORS ADDED */

.request-details-header{
    background-color: #66B7E3;
    margin-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.request-details-content{
    background-color: white;
    height: 200px;
}

/***************************************************************
*
*                         DESIGN = END
*
***************************************************************
*/



/***************************************************************
*
*                       WEBKIT = START
*
***************************************************************
*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}




::-webkit-scrollbar-thumb {
    background: #00c0fa;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00a4d6;
}

::-webkit-scrollbar-corner {
    
}

/***************************************************************
*
*                       WEBKIT = END
*
***************************************************************
*/



/***************************************************************
*
*                    RESPONSIVENESS = START
*
***************************************************************
*/




/***************************************************************
*
*                    RESPONSIVENESS = END
*
***************************************************************
*/