.label.style {
    margin-left: 15px;
    font-weight: bold;
    font-size: 16px;
}

.modal {
    display: none;
    position: fixed;
    /*
    left: 0;
    top: 0;
    */
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.cr-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border: none;
    width: 400px;
    height: 150px;
    text-align: center;
    border-radius: 12px;
}

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: contents;
    background-color: black;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cr-blue-bar {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: #008DDA;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Sans-serif;
}

.cr-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.excess-button,
.defective-button {
    font-family: Sans-serif;
    font-size: 20px;
    border-radius: 12px;
    background-color: #008DDA;
    cursor: pointer;
    color: white;
    border: none;
    width: 150px;
    height: 65px;
}

.defective-button:hover,
.excess-button:hover {
    background-color: #007ec2;
    transition: 0.3s ease-in all;
}



/* CLIENT MODAL */
/* Applicable also to */
/* SUPPLIER MODAL */

.inputs-top-row {
    display: flex;
    gap: 50px;
}

.inputs-bottom-row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.header-bar {
    display: flex;
    background-color: #66B7E3;
    color: white;
    width: 100%;
    justify-content: space-between;
}

.header-bar h1 {
    margin: 5px;
    font-size: 20px;
    padding-left: 20px;
}

.clientModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: flex;
    /* Flexbox to center modal */
    justify-content: center;
    align-items: center;
}

.input {
    padding-left: 15px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    text-align: start;
    font-weight: bold;
    font-size: 16px;
    height: 40px;
}

.input.status {
    width: 120px;
}

.input.email {
    width: 400px;
}

.input.location {
    width: 600px;
}

.client-content {
    padding: 30px 30px 30px 30px;
}

.client-modal {
    margin: 15% auto;
    background-color: #fefefe;
    width: 1200px;
    /* Set a fixed width */
    height: fit-content;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* Add shadow for better appearance */
}

.supplier-modal {
    margin: 0 auto 0;
    place-self: center;
    background-color: #fefefe;
    width: 1300px;
    /* Set a fixed width */
    height: fit-content;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.client-button-container {
    display: flex;
    justify-content: end;
}



.supplierconfirm-btn {
    background-color: #4AC5EC;
    color: white;
    margin-top: 30px;
    font-size: 16;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
}

.supplierconfirm-btn:hover {
    background-color: #3fa7c7;
}

/* INSTALLATION Item Summary Modal */
/* Pwede kaya i reuse toh ? like isang modal nalang na ganito tapos kalat sa lahat na yun? */
/* like parang eto yung gagamiting modal para sa lahat ng module na pwede mag view ng materials?*/
/* GUMAGAMIT DIN DITO SI, UNLABELED MATERIALS MODAL*/
.item-summary-modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.item-summary-content {
    margin: 15% auto;
    background-color: #fefefe;
    width: 800px;
    height: fit-content;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.view-installation-content {
    margin: 15% auto;
    background-color: #fefefe;
    width: max-content;
    height: fit-content;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.view-delivery-content {
    margin: 15% auto;
    background-color: #fefefe;
    width: max-content;
    height: fit-content;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.view-production-content {
    margin: 15% auto;
    background-color: #fefefe;
    width: max-content;
    height: fit-content;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.unlabeled-material-content {
    margin: 15% auto;
    background-color: #fefefe;
    width: max-content;
    height: fit-content;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.start-release-material-content {
    margin: 15% auto;
    background-color: #fefefe;
    width: max-content;
    height: fit-content;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.item-summary-header {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: #008DDA;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-family: Sans-serif;
}

.item-summary-header .close {
    cursor: pointer;
    color: white;
}

.item-summary-table {
    width: auto;
    border-collapse: collapse;
    margin-left: 15px;
    margin-right: 15px;
}

.item-summary-table th,
.item-summary-table td {

    height: auto;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;;
}

.item-summary-table th {
    background-color: #f2f2f2;
    color: #333;
}

.showing-entries{
    display: block;
    place-content: center;
}

.modal-page {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 15px;
}

.entries {
    margin: 10px 15px 10px 15px;
    display: flex;
    justify-content: space-between;
}

.entries span{
    display: block;
    place-content: center;
}

.batch-container {
    font-family: Sans-serif;
    display: block;
    margin: 20px 20px 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.batch-header {
    font-weight: bold;
    color: white;
    font-family: Sans-serif;
    padding: 10px 10px 10px 20px;
    background-color: #008DDA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.batch-content {
    display: flex;
    justify-content: space-between;
    font-family: Sans-serif;
    margin: 0px 0px 10px 0px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.batchID {
    font-family: Sans-serif;
    width: 100px;
    padding-left: 10px;
    margin-left: 10px;
    border: 2px solid;
    border-radius: 5px;
    height: 25px;
}


/* ADD MATERIAL MODAL */
.add-material-container {
    font-family: Sans-serif;
    margin: 15% auto;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 700px;
    height: 300px;
}

.add-material-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: white;
    font-family: Sans-serif;
    padding: 10px 10px 10px 20px;
    background-color: #008DDA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.add-material-content {
    display: flex;
    width: auto;
    height: auto;
    gap: 20px;
    font-family: Sans-serif;
    margin: 0px 0px 0px 0px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.add-material-title {
    display: grid;
    place-content: center;
}

.add-material-button {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}


.material-content-container {
    font-weight: bold;
    gap: 10px;
    display: block;
    padding: 0px;
}

.materialID {
    font-family: Sans-serif;
    width: 600px;
}

.materialUnit {
    font-family: Sans-serif;
    width: 100px;
}

.materialSupplier {
    font-family: Sans-serif;
}


/* SET QUANTITY LEVEL */
.set-quantity-container {
    font-family: Sans-serif;
    margin: 15% auto;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 200px;
    height: 180px;
}

.set-quantity-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: white;
    font-family: Sans-serif;
    padding: 10px 10px 10px 20px;
    background-color: #008DDA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.set-quantity-title {
    display: grid;
    place-content: center;
}
.set-quantity-content{
    padding: 10px;
}

.set-quantity-button {
    display: grid;
    justify-content: center;
}
.confirm-btn.set-quantity {
}

.setQuantityLevel{
    width: 50px;
}



/* PRODUCTION MODAL */
/* START RELEASE MATERIALS */

.input.batchID{
    margin-top: 10px;
}

.input.releasedDate{
    font-family: Sans-serif;
    width: max-content;
    padding-left: 10px;
    margin-left: 10px;
    border: 2px solid;
    border-radius: 5px;
    height: 25px;
}



/*BUTTONS*/

.qr-button {
    margin-top: 10px;
    background-color: #4AC5EC;
    color: white;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    font-size: 16px;
}
/*
.button-modal {
    margin-top: 10px;
    background-color: #4AC5EC;
    color: white;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    font-size: 16px;
}

*/

.button-modal:hover{
    background-color: #3798b6;
}

.fa-solid.fa-qrcode{

}

.confirm-btn.client,
.confirm-btn.edit {
    margin-top: 30px;
}

.setAlertLevel{
    background-color: #1C96CA;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.164);
    border: 0px none;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: white;
}

.setAlertLevel:hover{
    background-color: #17759e;
}







