/*
#container {
    display: flex;
}

.div-contain-title-page {
    display: flex;
    font-size: 10px;
    padding: 10px 20px;
    background-color: #f5f5f5;
}

#div-contain-buttons {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    font-size: 10px;
    background-color: #f5f5f5;
}

.button-position1 {
    position: relative;
    right: 30px;
    align-self: center;
}

.button-position2 {
    position: relative;
    right: 20px;
    align-self: center;
}
*/
/*Eto yung para sa mga buttons and sht*/
/*------------------------------------------------------------------

.save-request-button {
    background-color: #41C9E2;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.cancel-button {
    background-color: #F26969;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}*/

/*------------------------------------------------------------------*/
/*Eto yung para sa Request Details and yung under nitong frame*/
/*------------------------------------------------------------------

.shadow-effect {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.165);
}

.blue-bar {
    line-height: 30px;
    background-color: #004C76;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.view1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 20px;
    text-align: left;
    border-top-right-radius: 20px;
}

.request-detail-frame {
    height: ma;
    top: -14px;
    border: #cfcfcf;
}*/

/*
.div-fix-position {
    background-color: rgb(255, 255, 255, 0);
    display: flex;
}


.div-crm-contain-1 {
    background-color: rgb(222, 222, 222, 0);
    flex-grow: 1;
    display: inline-block;
}*/

/*div-crm-contain-1
.p-reqID,
.p-dataReq,
.p-dataNeed,
.p-project,
.p-remarks,
.p-material-description,
.p-unit,
.p-quantity,
.p-available-qty,
.p-material-added {
    margin: 0px;
    font-weight: bold;
    font-size: 16px;
}*/

/*div-crm-contain-1
.div-requestID,
.div-date-requested,
.div-date-needed,
.div-project {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    margin-left: 30px;
}*/

/*Inputs*/
/*div-crm-contain-1
.inputs {
    width: max-content;
    height: max-content;
    display: flex;
}*/

/*Inputs*/
/*div-crm-contain-1
.input-reqID {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    height: 40px;
    width: 5vw;
}*/

/*Inputs*/
/*div-crm-contain-1
.input-dateReq {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    height: 40px;
    width: 10vw;
}*/

/*Inputs*/
/*div-crm-contain-1
.input-dateNeed {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    height: 40px;
    width: 10vw;
}*/

/*Inputs*/
/*div-crm-contain-1
.input-project select {
    font-weight: bold;
    font-size: 14px;
    height: 40px;
    width: 20vw;
}

.div-crm-contain-2 {
    margin-top: 20px;
    background-color: rgb(222, 222, 222, 0);
    flex-grow: 1;
    display: inline-block;
}*/

/*div-crm-contain-2
.div-remarks {
    font-weight: bold;
    font-size: 16px;
    margin-left: 30px;
}

.input-remarks {
    font-weight: bold;
    font-size: 14px;
    height: 150px;
    width: 50vw;
    overflow: scroll;
}

.div-crm-contain-3 {
    background-color: rgb(255, 255, 255);
    height: max-content;
    flex-grow: 1;
    margin-top: 0px;
    position: relative;
}

.div-material-description-position {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}*/

/*div-crm-contain-3
.div-material-description {
    margin-left: 30px;
    display: inline-block;
}*/

/*Inputs*/
/*div-crm-contain-3
.input-materialDesc {
    width: 50vw;
    height: 40px;
    color: #6B6B6B;
    font-weight: bold;
    font-size: 16px;
}*/

/*
.div-unit {
    margin-left: 30px;
    display: inline-block;
}

.input-unit {
    width: 100px;
    height: 40px;
    color: #6B6B6B;
    font-weight: bold;
    font-size: 16px;
}

.div-quantity {
    margin-left: 30px;
    display: inline-block;
}

.input-quantity {
    width: 100px;
    height: 40px;
    color: #6B6B6B;
    font-weight: bold;
    font-size: 16px;
}

.div-available-qty {
    margin-left: 30px;
    display: inline-block;
}

.input-available-qty {
    width: 100px;
    height: 40px;
    color: #6B6B6B;
    font-weight: bold;
    font-size: 16px;
}

.material-request-add-button {
    display: inline-block;
}

.material-add-button {
    margin-left: 30px;
    background-color: #4AC5EC;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.material-add-button:hover {
    background-color: #36B2D9;
}

.div-crm-contain-4 {
    background-color: rgb(255, 255, 255);
    height: max-content;
    flex-grow: 1;
}

.div-table-position {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}*/

/* TABLE 
.table-create-request-material {
    width: 100%;
    height: 60px;
    border-collapse: collapse;
}

.table-create-request-material thead th {
    border: 2px solid #595959;
    background-color: #B4B4B4;
    padding: 10px;
    text-align: center;
    font-size: auto;
}

.table-create-request-material tbody td {
    padding: 10px;
    border: 2px solid #595959;
}

.td-category{
    background-color: #E1E1E1;
    text-align: center;
}
.td-material-description{
    background-color: #E1E1E1;
    text-align: center;
}
.td-unit{
    background-color: #E1E1E1;
    text-align: center;
}
.td-quantity{
    background-color: #E1E1E1;
    text-align: center;
}
.td-available-quantity{
    background-color: #E1E1E1;
    text-align: center;
}
.td-action{
    background-color: #E1E1E1;
    text-align: center;
}

.td-action button{
    border: none;
    padding: 10px 10px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.td-action .td-edit-button {
    background-color: #36B2D9;
}

.td-action .td-delete-button {
    background-color: #FF0000;
}

.td-action .td-edit-button:hover {
    background-color: #1C96CA;
}

.td-action .td-delete-button:hover {
    background-color: #C0392B;
}

.hr-style {
    height: 3px;
    background-color: rgb(204, 204, 204);
    border: none;
}*/