/* DINUPLICATE KO YUNG CSS FILE PARA SA BUONG 6 HTML FILE SA RETURN REQUEST YUNG PARA SA UPDATE, IN-PROCESS, COMPLETE EXCESS & DEFECTIVE */
/* DINUPLICATE KO YUNG CSS FILE PARA SA BUONG 6 HTML FILE SA RETURN REQUEST YUNG PARA SA UPDATE, IN-PROCESS, COMPLETE EXCESS & DEFECTIVE */
/* DINUPLICATE KO YUNG CSS FILE PARA SA BUONG 6 HTML FILE SA RETURN REQUEST YUNG PARA SA UPDATE, IN-PROCESS, COMPLETE EXCESS & DEFECTIVE */
/* DINUPLICATE KO YUNG CSS FILE PARA SA BUONG 6 HTML FILE SA RETURN REQUEST YUNG PARA SA UPDATE, IN-PROCESS, COMPLETE EXCESS & DEFECTIVE */
/* DINUPLICATE KO YUNG CSS FILE PARA SA BUONG 6 HTML FILE SA RETURN REQUEST YUNG PARA SA UPDATE, IN-PROCESS, COMPLETE EXCESS & DEFECTIVE */
/* DINUPLICATE KO YUNG CSS FILE PARA SA BUONG 6 HTML FILE SA RETURN REQUEST YUNG PARA SA UPDATE, IN-PROCESS, COMPLETE EXCESS & DEFECTIVE */
/* DINUPLICATE KO YUNG CSS FILE PARA SA BUONG 6 HTML FILE SA RETURN REQUEST YUNG PARA SA UPDATE, IN-PROCESS, COMPLETE EXCESS & DEFECTIVE */

/* PA TANGGAL AKO YUNG MGA DI NECESSARY NA .CLASS SELECTOR */
/* PA TANGGAL AKO YUNG MGA DI NECESSARY NA .CLASS SELECTOR */
/* PA TANGGAL AKO YUNG MGA DI NECESSARY NA .CLASS SELECTOR */
/* PA TANGGAL AKO YUNG MGA DI NECESSARY NA .CLASS SELECTOR */
/* PA TANGGAL AKO YUNG MGA DI NECESSARY NA .CLASS SELECTOR */
/* PA TANGGAL AKO YUNG MGA DI NECESSARY NA .CLASS SELECTOR */
/* PA TANGGAL AKO YUNG MGA DI NECESSARY NA .CLASS SELECTOR */

/* WAIT, PANO BA GAWING DI MAKALAT XD, FOCUS LANG AKO SA GOAL TAE */
/* WAIT, PANO BA GAWING DI MAKALAT XD, FOCUS LANG AKO SA GOAL TAE */
/* WAIT, PANO BA GAWING DI MAKALAT XD, FOCUS LANG AKO SA GOAL TAE */
/* WAIT, PANO BA GAWING DI MAKALAT XD, FOCUS LANG AKO SA GOAL TAE */
/* WAIT, PANO BA GAWING DI MAKALAT XD, FOCUS LANG AKO SA GOAL TAE */
/* WAIT, PANO BA GAWING DI MAKALAT XD, FOCUS LANG AKO SA GOAL TAE */
/* WAIT, PANO BA GAWING DI MAKALAT XD, FOCUS LANG AKO SA GOAL TAE */

* {
    font-family: Arial, sans-serif;
}

.body-iframe-padding {
    padding: 20px;
}

#contentIframe {
    border: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.blue-bar {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.165);
    margin-bottom: 10px;
}

.debug {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.textDebug {
    font-style: italic;
}

.btnDebug.logout {
    height: 30px;
}

/* START OF THE STYLE */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

/* ==================== START OF TOP BAR ==================== */
.top-bar {
    height: 40px;
    background-color: #FFFFFF;
    padding: 10px 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.050);
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.title {
    color: #008DDA;
    text-align: left;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 500;
    flex-grow: 1;
}

.logo {
    margin-left: 20px;
    height: 40px;
}

.user-info {
    padding-right: 15px;
}

.user-name,
.user-role {
    color: rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 2px;
}

.user-role {
    font-size: 13px;
    font-weight: 100;
    text-align: right;
    padding-bottom: 10px;
    margin-top: 0;
}

.user-icon {
    border-radius: 100%;
    margin-right: 20px;
    height: 50px;

    /* OPTIONAL RING */
    border: 2px solid rgb(19, 113, 221);
}

/* ==================== END OF TOP BAR ==================== */

/* ==================== START OF SIDEBAR ==================== */
.sidebar-content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: 220px;
    background-color: #008DDA;
    padding: 0px;
    height: calc(100vh - 50px);
    overflow-y: auto;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.dropdown {
    text-align: center;
    display: none;
    background: #214e67;
}

.dropdown-link {
    display: block;
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    border: none;
    padding: 20px;
    background: #2D9CD9;
    transition: background 0.3s ease;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-link:hover {
    background: #71C7F5;
}

.dropdown-link.active {
    background: #71C7F5;
}

.module-content {
    margin-top: 15px;
}

.module-title {
    margin-top: 0px;
    padding: 0px;
}

.module-name,
.module-grp {
    background: #008DDA;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3 ease, transform 0.3 ease;
    position: relative;
}

.module-name:active .arrow {
    transform: translateY(-50%) rotate(180deg);
}


.module-name:hover {
    background: #0056a0;
}

.module-name.active {
    background: #0056a0;
}

.module-grp.active {
    background: #0056a0;
}

.module-grp:hover {
    background: #0056a0;
}

.arrow {
    margin-left: 20px;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.module-name:active .arrow {
    transform: translateY(-50%) rotate(180deg);
}


.module-name:hover {
    background: #0056a0;
}

.module-grp:hover {
    background: #0056a0;
}

.modules {
    margin-bottom: -10px;
}

.modules .debug {
    background-color: rgb(109, 0, 0);
}

/* ==================== END OF SIDEBAR ==================== */

/* START OF MAIN */
.main-content {
    flex: 1;
    overflow-y: auto;
    height: 100%;
}

/* ==================== START OF PRODUCTION ==================== */
.header {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.165);
}

.entries {
    padding: 10px 0px 0 20px;
    font-weight: bold;
}

.entries span {
    font-size: 16px;
}

.entry-num {
    height: 25px;
    width: 30px;
    border-radius: 5px;
    border: 2px solid;
    font-size: 16px;
    text-align: center;
    margin: 0 5px 0 05px;
}

.blue-bar h1 {
    background-color: #004C76;
    color: white;
    font-size: 24px;
    padding: 15px;
    padding-left: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.btn-qr {
    background-color: #4AC5EC;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.btn-create {
    background-color: #4AC5EC;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.btn-cancel {
    background-color: #F26969;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-left: auto;

}

.btn-return {
    background-color: #F26969;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-left: auto;

}

.btn-return:hover {
    background-color: #c05252;
    cursor: pointer;
}

.btn-qr:hover {
    background-color: #3da4c4;
    cursor: pointer;
}

.btn-create:hover {
    background-color: #3da4c4;
    cursor: pointer;
}

.btn-cancel:hover {
    background-color: #c05252;
    cursor: pointer;
}

/* TABLE FOR BOTH REQ MATS AND RETURN */

.table-bg {
    /* TABLE BG */
    padding: 0px 20px 20px 20px;
    /* TOP LEFT BOTTOM RIGHT*/
    border-radius: 20px;
}

.table-list-request {
    width: 100%;
    height: 90px;
    border-collapse: collapse;
}

/* TABLE TITLES */
.table-list-request thead th {
    border: 2px solid #595959;
    background-color: #B4B4B4;
    padding: 10px;
    text-align: center;
    font-size: auto;
}

.table-list-request tbody td {
    /* TABLE CELLS */
    padding: 10px;
    /* Table height. Adjust accordingly */
    border: 2px solid #595959;
}

.table-list-request .th-status {
    /* STATUS */
    width: 100px;
}

.table-list-request .th-reqID,
.th-retID {
    /* ID */
    width: 150px;
}

.table-list-request .th-date {
    /* DATE */
    width: 200px;
}

/* TABLE DATA */
.td-style {
    /* CELL PROPERTIES */
    background-color: #E1E1E1;
    text-align: center;
}

.status {
    font-weight: bold !important;
}

.status.pending {
    background-color: #D2B18A;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.status.approved {
    background-color: #45C983;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.status.completed {
    background-color: #008DDA;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.td-feedback {
    /* FEEDBACK */
    background-color: #E1E1E1;
    text-align: center;
    font-weight: bold;
}

.action {
    background-color: #E1E1E1;
    text-align: center;
}

.action button {
    border: none;
    padding: 10px 10px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}


.action .edit-button {
    background-color: #1C96CA;
}

.action .delete-button {
    background-color: #FF0000;
}

.action .edit-button:hover {
    background-color: #36B2D9;
}

.action .delete-button:hover {
    background-color: #C0392B;
}

.view-image-inprocess-excess {
    background-color: #4AC5EC;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
}

/* PAGE BAR */
.pageBar {
    background-color: #004C76;
    padding: 0 20px 0 20px;
    color: white;
    font-weight: bold;
    height: auto;
    border-radius: 10px;
}

.pageContainer {
    display: flex;
}

.pageBtn {
    display: flex;
    margin-left: auto;
    align-items: center;
    text-align: center;
}

.pageBtn p,
.pageBtn a {
    background-color: #4AC5EC;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    place-content: center;
    height: 12px;
    margin: 0 2px;
    text-decoration: none;
    cursor: pointer;
}


/**
* --------------------
*    CREATE REQUEST
* --------------------
*/

.form-content {
    padding: 0 40px 40px 40px;   
}

.input.reqID,
.input.dateReq,
.input.supp, /* <- EXCESS */
.input.unit,
.input.qtyAvail {
    background-color: #b7b7b7;
}

.inputs-top-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.input-grp {
    display: flex;
    flex-direction: column;
}

.input-label {
    font-size: 18;
    font-weight: bold;
    margin-bottom: 5px;
}

.input {
    height: 30px;
    border: 1px solid;
    border-radius: 5px;

    text-align: center;
    font-weight: bold;
    font-size: 16px;
    height: 40px;
}

.input.reqID {
    width: 100px;
}

.input.dateReq {
    width: 200px;
}

.input.dateNeed {
    width: 200px;
}

.input.project {
    width: 500px;
}

.project option {
    background-color: rgba(0, 132, 255, 0.178);
}

.input-image-proof {
    margin-top: 20px;
}

.imgContainer {
    border: 2px solid gray;
    padding: 10px;

    /* SHOULD I ROUND THE CORNER?
    border-radius: 5px;*/
}

.imgContainer img {
    /* IMG PROPERTIES */
}

.btn-add-image {
    background-color: #4AC5EC;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btn-choose-file[type=file]::file-selector-button {
    background-color: #25d6ee83;
    border: none;
    border-top-right-radius: 50px; /* TLBR */
    border-bottom-right-radius: 50px; 

    text-align: center;
    
    font-size: 16px;
    height: 40px;
}

.btn-add-image:hover {
    background-color: #3da4c4;
    cursor: pointer;
}

.input-remark {
    display: flex;
    flex: wrap;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 5px;
}

.input-remark .remarks {
    height: 150px;
    font-weight: bold;
    font-size: 14px;
    width: 800px;
    overflow: scroll;
}


.input-remark .excess-remark {
    /* EXCESS */
    text-align: left;
    padding-left: 20px;
    font-weight: 100;
}

.line-separator {
    height: 2px;
    background-color: grey;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* SECOND BLUE BAR */

.input.desc {
    width: 500px;
}

.input.supp {
    /* EXCESS */
    
}

.input.unit {
    width: 100px;
}

.input.qty {
    width: 100px;
}

.input.qtyAvail {
    width: 100px;
}

.button-area-bottom {
    margin-top: 10px;
    display: flex;
}

.btn-add {
    background-color: #4AC5EC;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btn-add:hover {
    background-color: #3da4c4;
    cursor: pointer;
}

/* MATERIAL ADDED TABLE */

.blue-bar .i3 {
    background-color: #FFF;
    color: black;
}

/* ==================== END OF PRODUCTION ==================== */




/* NEW CLASS SELECTOR */
/* NEW CLASS SELECTOR */
/* NEW CLASS SELECTOR */
/* NEW CLASS SELECTOR */
/* NEW CLASS SELECTOR */


.re-upload-image {

}


.save-changes-button {
    background-color: #41C9E2;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.discard-changes-button {
    background-color: #F26969;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.discard-changes-button:hover {
    background-color: #a54a4a;
}

.save-changes-button:hover {
    background-color: #2c8899;
}


/* ok na, main.css na ang nagagamit for update, view inprocess and completed ng excess and defective */
/* ok na, main.css na ang nagagamit for update, view inprocess and completed ng excess and defective */
/* ok na, main.css na ang nagagamit for update, view inprocess and completed ng excess and defective */
/* ok na, main.css na ang nagagamit for update, view inprocess and completed ng excess and defective */
/* ok na, main.css na ang nagagamit for update, view inprocess and completed ng excess and defective */